<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
  <f:event type="preRenderView" listener="#{productController.loadProducts()}"/>
</f:metadata>

<h:head>
	<title>Product Table Demo</title>
</h:head>

<h:body>
	<h3>Product Table Demo</h3>

	<hr/>

	<br/>
	
	<h:dataTable value="#{productController.products}" var="tempProduct" border="1">
		
		<h:column>
			<!-- the column header -->
			<f:facet name="header">Name</f:facet>
			
			<!--  the value for each row -->
			#{tempProduct.name}
		</h:column>

		<h:column>
			<!-- the column header -->
			<f:facet name="header">Category</f:facet>
			
			<!--  the value for each row -->
			#{tempProduct.category}
		</h:column>

		<h:column>
			<!-- the column header -->
			<f:facet name="header">Code</f:facet>
			
			<!--  the value for each row -->
			#{tempProduct.code}
		</h:column>

	</h:dataTable>
		
	<h:messages />
	
</h:body>
</html>
