<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
  <f:event type="preRenderView" listener="#{productController.loadProducts()}"/>
</f:metadata>

<h:head>
	<title>Database Test</title>
</h:head>

<h:body>
	<h3>Database Test</h3>

	<hr/>

	<br/>
	
	The data: #{productController.products}
		
	<h:messages />
	
</h:body>
</html>
