<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
  <f:event type="preRenderView" listener="#{productController.loadProducts()}"/>
</f:metadata>

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Product Tracker App</title>
	
	<h:outputStylesheet library="css" name="style.css"  />
	
</h:head>

<h:body>

	<div id="wrapper">
		<div id="header">
			<h2>KO Products</h2>
		</div>
	</div>

	<div id="container">

		<div id="content">
		
			<h:messages globalOnly="true" />
			
			<h:button value="Add Product" styleClass="add-product-button" outcome="add-product-form"/>
			
			<h:form>
						
			<h:dataTable value="#{productController.products}" var="tempProduct"
				styleClass="demo-table" 
				headerClass="demo-table-header"
				rowClasses="demo-table-odd-row,demo-table-even-row">

				<h:column>
					<!-- the column header -->
					<f:facet name="header">Name</f:facet>

					<!--  the value for each row -->
					#{tempProduct.name}
				</h:column>

				<h:column>
					<!-- the column header -->
					<f:facet name="header">Category</f:facet>

					<!--  the value for each row -->
					#{tempProduct.category}
				</h:column>

				<h:column>
					<!-- the column header -->
					<f:facet name="header">Code</f:facet>

					<!--  the value for each row -->
					#{tempProduct.code}
				</h:column>
				
				<h:column>
					<!-- the column header -->
					<f:facet name="header">Action</f:facet>

					<!--  the value for each row -->
					<h:commandLink value="Update"
						action="#{productController.loadProduct(tempProduct.id)}"/>
						
					<h:commandLink value="Delete"
						onclick="if (!confirm('Are you sure you want to delete this product?')) return false"
						action="#{productController.deleteProduct(tempProduct.id)}"/>
					
				</h:column>

			</h:dataTable>

			</h:form>

		</div>
		
	</div>

</h:body>
</html>
