<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Update Student</title>
	
	<h:outputStylesheet library="css" name="style.css"  />
	<h:outputStylesheet library="css" name="add-student-style.css"  />
	
</h:head>

<h:body>

	<div id="wrapper">
		<div id="header">
			<h2>KO Products</h2>
		</div>
	</div>
	
	<div id="container">
		<h3>Update Product</h3>

		<h:messages globalOnly="true" />

		<h:form id="form" style="margin-top: 10px;" >
			<h:panelGrid columns="3">
			
				<h:outputLabel>Name:</h:outputLabel> <h:inputText value="#{product.name}" id="name" /> <h:message for="name" />
	
				<h:outputLabel>Category:</h:outputLabel> <h:inputText value="#{product.category}" id="category" /> <h:message for="category" />
	
				<h:outputLabel>Product:</h:outputLabel> <h:inputText value="#{product.code}" id="code" 
									required="true"
            							requiredMessage="Product code is mandatory."/> 	<h:message for="code"  />
				
				 <h:inputHidden value="#{product.id}" />
				
				 <h:commandButton value="Save" styleClass="save" 
				 			action="#{productController.updateProduct(product)}"/>
			
			</h:panelGrid>
		</h:form>

		<div style="clear: both;"></div>

		<p><h:outputLink value="list-products.xhtml">Back to List</h:outputLink></p>

	</div>	
</h:body>
</html>
